server:
  port: 8083

spring:
  datasource:
    url: jdbc:postgresql://localhost:5435/product_service
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  cloud:
    function:
      definition: orderEvents          # @Bean ismi
    stream:
      defaultBinder: kafka
      bindings:
        orderEvents-in-0:
          destination: order-events      # Order-service'in gönderdiği topic
          group: product-service         # Consumer group adı
          contentType: application/json

      kafka:
        binder:
          brokers: localhost:9092

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
