server:
  port: 8083

spring:
  datasource:
    url: jdbc:postgresql://productsv_db:5432/product_service
    username: postgres
    password: admin

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka